- content_for :injection_data do
  = inject_available_countries
  = inject_enterprise_shopfront_list
  = inject_open_street_map_config

:css
  #tagline:before { background-image: url("#{ContentConfig.home_hero.url}") }




#panes
%section.faq{:"ng-controller" => "PMarketController"}
  #pmarket_calendar_open Calendari
  #pmarket_calendar.hidden
    %span#pmarket_calendar_close
      %svg.h-6.w-6{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M13 5l7 7-7 7M5 5l7 7-7 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    %h2 Esdeveniments: els mercats físics
    %table.pmarket_calendar_table
      %tr{:"ng-repeat" => "item in esdeveniments track by $index"}
        %td.col1 {{item.nom}}
        %td.col2 {{item.data}}
        %td.col3 {{item.lloc}}
  .pmarket_header
    %img{:src => "{{content.header_block.logo}}"}
    %h1
      {{content.header_block.titol}}
  .pmarket_info
    .row
      %h2 {{normal_block_1.titol}}
      %p
        {{normal_block_1.descripcio}}
    .carousel{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": false, \"prevNextButtons\": true}"}
      .responsive-embed-widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
      .responsive-embed-widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
      .responsive-embed-widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}

  .pmarket_videos
    .row
      %h2 {{normal_block_2.titol}}
      .carousel{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": false, \"prevNextButtons\": true}"}
        .responsive-embed-widescreen
          %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
        .responsive-embed-widescreen
          %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
        .responsive-embed-widescreen
          %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
  .pmarket_producers
    .row
      %h2 {{content.producers_block.titol}}
      .small-12.medium-4.columns
        %h3.pmarket_producers_title {{producers_block_icon1.titol}}
        %br/
        %img{:src => "{{producers_block_icon1.image}}"}
        %br/
        %pmarket_producers_description{"ng-bind-html" => "producers_block_icon1.descripcio"}

      .small-12.medium-4.columns
        %h3.pmarket_producers_title {{producers_block_icon2.titol}}
        %br/
        %img{:src => "{{producers_block_icon2.image}}"}
        %br/
        %pmarket_producers_description{"ng-bind-html" => "producers_block_icon2.descripcio"}
      .small-12.medium-4.columns
        %h3.pmarket_producers_title {{producers_block_icon3.titol}}
        %br/
        %img{:src => "{{producers_block_icon3.image}}"}
        %br/
        %pmarket_producers_description{"ng-bind-html" => "producers_block_icon3.descripcio"}
    %a{:href => "#"} {{content.producers_block.button_text}}

  .pmarket_map
    .row
      %h1 {{content.map_block.titol}}
      %p  {{content.map_block.descripcio}}
      %div#map2
      %a{:href => "#"} {{content.map_block.button_text}}

  .pmarket_bonline
    %h2 {{content.shop_online_block.titol}}
    %p
      {{content.shop_online_block.descripcio}}
    .small-12.medium-6.columns.text-right
      %img{:height => "68px", :src => "{{content.shop_online_block.imatge}}"}
    .row
      .small-12.medium-6.columns.pmarket_bonline_links
        %a{:href => "#"} {{shop_online_block_link1.text}}
        %a{:href => "#"} {{shop_online_block_link2.text}}
        %a{:href => "#"} {{shop_online_block_link3.text}}

  .pmarket_counter
    .row
      %h2
        = t :pmarket_counter_title
      .small-12.medium-4.columns
        %span.pmarket_counter_number
          %strong= number_with_delimiter @num_distributors
        %span.pmarket_counter_name
          = t :pmarket_counter_1
      .small-12.medium-4.columns
        %span.pmarket_counter_number
          %strong= number_with_delimiter @num_products
        %span.pmarket_counter_name
          = t :pmarket_counter_2
      .small-12.medium-4.columns
        %span.pmarket_counter_number
          %strong= number_with_delimiter @num_producers
        %span.pmarket_counter_name
          = t :pmarket_counter_3

  = render "shared/footer"

%script{:src => "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"}
