.header_learn-desktop
  .header_learn
    .header_learn_bg1{:class => ""}
      %div
        %img{:height => "68px", :src => "{{home_block_1.header.icona}}"}
        %h2.header_learn_title {{home_block_1.header.titol}}
        %h3.header_learn_subtitle {{home_block_1.header.subtitol}}
      %div
        %h4.header_learn_description {{home_block_1.header.claim}}
        %a.header_learn_button.btn_orange{:href => "/mercat-pagesia"}
          = t :header_block_link_text
    .header_learn_bg2{:class => ""}
      %div
        %img{:height => "68px", :src => "{{home_block_2.header.icona}}"}
        %h2.header_learn_title {{home_block_2.header.titol}}
        %h3.header_learn_subtitle {{home_block_2.header.subtitol}}
      %div
        %h4.header_learn_description {{home_block_2.header.claim}}
        %a.header_learn_button.btn_green{:href => "/banc-terres"}
          = t :header_block_link_text
    .header_learn_bg3{:class => ""}
      %div
        %img{:height => "68px", :src => "{{home_block_3.header.icona}}"}
        %h2.header_learn_title {{home_block_3.header.titol}}
        %h3.header_learn_subtitle  {{home_block_3.header.subtitol}}
      %div
        %h4.header_learn_description {{home_block_3.header.claim}}
        %a.header_learn_button.btn_yellow{:href => "/banc-recursos"}
          = t :header_block_link_text
.header_learn-mobile
  .header_learn
    %div{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": true, \"prevNextButtons\": true}"}
      .header_learn_bg1{:class => ""}
        %div
          %h2.header_learn_title {{home_block_1.header.titol}}
          %h3.header_learn_subtitle {{home_block_1.header.subtitol}}
        %div
          %h4.header_learn_description {{home_block_1.header.claim}}
          %a.header_learn_button.btn_orange{:href => "/mercat-pagesia"}
            = t :header_block_link_text
      .header_learn_bg2{:class => ""}
        %div
          %h2.header_learn_title {{home_block_2.header.titol}}
          %h3.header_learn_subtitle {{home_block_2.header.subtitol}}
        %div
          %h4.header_learn_description {{home_block_2.header.claim}}
          %a.header_learn_button.btn_green{:href => "/banc-terres"}
            = t :header_block_link_text
      .header_learn_bg3{:class => ""}
        %div
          %h2.header_learn_title {{home_block_3.header.titol}}
          %h3.header_learn_subtitle  {{home_block_3.header.subtitol}}
        %div
          %h4.header_learn_description {{home_block_3.header.claim}}
          %a.header_learn_button.btn_yellow{:href => "/banc-recursos"}
            = t :header_block_link_text
