:css
  #tagline:before { background-image: url("#{ContentConfig.home_hero.url}") }


- content_for :page_alert do
  = render "shared/menu/alert"


%div{"ng-controller" => "HomeCtrl"}
  = render "home/header_learn"

  #panes

    = render "home/brandstory"
    = render "home/features"
    = render "home/stats"
    = render "home/rbinfo"
    = render "home/fminfo"

  = render "shared/footer"
  #lang= @langvar
