- content_for :injection_data do
  = inject_available_countries
  = inject_enterprise_shopfront_list
  = inject_open_street_map_config

:css
  #tagline:before { background-image: url("#{ContentConfig.home_hero.url}") }


#panes
%section.faq{:"ng-controller" => "PMarketController"}
  #pmarket_calendar_open
    %svg.h-6.w-6{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    Calendari
  #pmarket_calendar.hidden
    %span#pmarket_calendar_close
      %svg.h-6.w-6{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M13 5l7 7-7 7M5 5l7 7-7 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    %h2
      = t :pmarket_calendar
    %table.pmarket_calendar_table
      %tr{:"ng-repeat" => "item in esdeveniments track by $index"}
        %td.col1 {{item.nom}}
        %td.col2 {{item.data}}
        %td.col3 {{item.lloc}}

  .pmarket_header
    %img{:src => "{{content.header_block.logo}}"}
    %h1
      {{content.header_block.titol}}

  .pmarket_info
    .row
      %h2 {{normal_block_1.titol}}
      %p
        {{normal_block_1.descripcio}}
      .image-container{:"ng-repeat" => "item in content.header_block.imatges track by $index"}
        %img{:src => "{{item.imatge}}"}

  .pmarket_bonline
    .row.text-center
      %h2 {{content.shop_online_block.titol}}
      %p
        {{content.shop_online_block.descripcio}}

      .small-12.medium-4.columns.pmarket_bonline_links.text-center
        %a{:href => "/shops"} {{shop_online_block_link1.text}}
      .small-12.medium-4.columns.pmarket_bonline_links.text-center
        %a{:href => "/producers"} {{shop_online_block_link2.text}}
      .small-12.medium-4.columns.pmarket_bonline_links.text-center
        %a{:href => "/shops"} {{shop_online_block_link3.text}}

  .pmarket_producers
    .row
      %h2 {{content.producers_block.titol}}
      .small-12.medium-4.columns{:"ng-repeat" => "item in content.producers_block.icones track by $index"}
        %h3.pmarket_producers_title {{item.titol}}
        %br/
        %img{:src => "{{item.image}}"}
        %br/
        %pmarket_producers_description{"ng-bind-html" => "item.descripcio"}
        %div{"ng-show" => "item.video_url != ''"}
          .video-container
            %iframe{allowfullscreen: "", frameborder: "0", height: "100%", "ng-src" => "{{trustSrc(item.video_url)}}", width: "100%"}

  .pmarket_videos
    .row
      %h2 {{normal_block_2.titol}}
    .carousel{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": false, \"prevNextButtons\": true}"}
      .video-container
        %iframe{allowfullscreen: "", frameborder: "0", height: "100%", "ng-src" => "{{trustSrc(content.header_block.video)}}", width: "100%"}


      -# .small-12.medium-4.columns
      -#   %h3.pmarket_producers_title {{producers_block_icon2.titol}}
      -#   %br/
      -#   %img{:src => "{{producers_block_icon2.image}}"}
      -#   %br/
      -#   %pmarket_producers_description{"ng-bind-html" => "producers_block_icon2.descripcio"}
    -#%a{:href => "#"} {{content.producers_block.button_text}}

  .pmarket_map#map
    .row
      %h1 {{content.map_block.titol}}
      %p  {{content.map_block.descripcio}}
      %div#map2
      %a#pmarket_calendar_open2{:href => "#" } {{content.map_block.button_text}}

-if @num_products > 10
  .pmarket_counter
    .row
      %h2
        = t :pmarket_counter_title
      .small-12.medium-4.columns
        %span.pmarket_counter_number
          %strong= number_with_delimiter @num_distributors
        %span.pmarket_counter_name
          = t :pmarket_counter_1
      .small-12.medium-4.columns
        %span.pmarket_counter_number
          %strong= number_with_delimiter @num_products
        %span.pmarket_counter_name
          = t :pmarket_counter_2
      .small-12.medium-4.columns
        %span.pmarket_counter_number
          %strong= number_with_delimiter @num_producers
        %span.pmarket_counter_name
          = t :pmarket_counter_3

= render "shared/footer"
#lang= @langvar

%script{:src => "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"}
